{% extends "users/base.html" %}
{% load static %}
{% block css_link %}
<link rel="stylesheet" href="{% static 'ideas/ideas.css' %}">
{% endblock %}
{% block content %}
<br>
<div class="container py-5">
    <div class="row">
        <div class="col-12">
            {% if object.thumbnail %}
            <img style="
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    width: 50%;" class="center" src="{{ object.thumbnail.url }}" alt="Generic placeholder image">
            {% else %}
            <!-- <img class="idea-img" src="{% static 'ideas/1.jpg' %}" alt=""> -->
            {% endif %}
            <div class="media pt-5">
                <div class="media-body">
                    <small class="text-muted">
                        By <a class="ml-2" href="{% url 'profile' %}">{{object.author}}</a>
                    </small>
                    <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
                    {% for catagory in object.catagory.all %}
                    <small><a href="">{{catagory}} |</a></small>
                    {% endfor %}
                    <h2 class="mt-0">{{object.title}}</h2>
                    <p>{{object.description}}</p>

                </div>
            </div>
        </div>
        <hr>

    </div>
    <div class="row">
        <div class="col-12">{% if object.author == user %}
            <a class="btn btn-outline-info" href="{% url 'idea-update' object.id %}">Edit</a>
            <a class="btn btn-outline-danger" href="{% url 'idea-delete' object.id %}">Delete</a>
            {% endif %}</div>
    </div>
</div>
</div>


{% endblock content %}