
.heading{
    color: grey ;
}
body,html{
    height: 100%;
  }

.bgimg{
    background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/a0000a83070851.5d30b24120a09.jpg');
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    font-family: 'Dancing Script', cursive;

}
.cs{
    font-size: 120px;
}

.topleft {
    position: absolute;
    top: 0;
}

.logo{
    font-size: 40px;
    font-family: 'Anton', sans-serif;
}
.anchor{
    text-decoration: none !important;
    color: azure;
    
}
.anchor:hover{
    text-decoration: none !important;
    color: azure;
    
}
#demo{
    font-family: 'Inconsolata', monospace;
    font-size: 30px;
}
.bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

hr {
    margin: auto;
    width: 40%;
}
.profile{
    background-color: white;
    margin: 20px;
}